<script>
var url = "https://api.whatsapp.com/send?phone={{site.phone}}&text=Halo saya mau beli %0a";
</script>
<div class="mt-4 px-2">
    <div class="container">
        <div class="row">
            <div class="d-block col-12 col-lg-8">
                <div class="row">
                    <!-- <div class="d-none d-lg-block p-2 rounded border-0 shadow-sm col-12 mb-2">
                        <div class="row">
                            <div class="product-image col-sm-2 col-3 d-flex align-items-center"> </div>
                            <div class="col-sm-10 col-9 d-flex">
                                <div class="row flex-grow-1">
                                    <div class="d-flex flex-column justify-content-center flex-grow-1 col-md-5 col-10" style="">
                                        <h6 class="mb-0">Nama Produk</h6>
                                    </div>
                                    <div class="d-none" style="">
                                        <strong>10000 </strong>
                                    </div>
                                    <div class="order-md-3 d-flex px-0 justify-content-center col-md-1 col-2 align-items-center" style=""> </div>
                                    <div class="order-md-2 d-flex flex-column justify-content-center flex-grow-1 col-6 align-items-center col-md-2" style="">
                                        <h6 class="mb-0">Kuantitas</h6>
                                    </div>
                                    <div class="order-md-2 d-flex flex-column justify-content-center flex-grow-1 col-6 col-md-2 align-items-start" style="">
                                        <h6 class="mb-0">Total Harga</h6>
                                    </div>
                                    <div class="order-md-1 d-flex align-items-center col-6 justify-content-start col-md-2" style="">
                                        <h6 class="mb-0">Harga</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div id="cart-items">
                    </div>
                </div>
            </div>
            <div id="cart-checkout" class="d-block pt-lg-3 p-2 shadow-sm col-12 col-lg-3 mb-5">
                <div class="row">
                    <div class="d-flex flex-grow-1 d-lg-block col-12">
                        <div class="row virtuw-100">
                            <div id="cart-label" class="order-md-2 d-flex d-lg-block flex-grow-1 flex-column justify-content-center align-items-end col-md-3 col-7 col-lg-7" style="">
                                <h6 class="mb-0">Total Harga</h6><small>(sebelum ongkos kirim)</small>
                            </div>
                            <div id="total-value" class="order-md-2 d-flex d-lg-block flex-grow-1 justify-content-center align-items-start col-md-3 col-5 col-lg-5" data-total-value="">
                                <strong>Rp 0</strong>
                            </div>
                            <div class="mt-lg-4 order-md-2 d-flex d-lg-block flex-grow-1 justify-content-center align-items-start col-md-6 col-lg-12 col-12" style=""><a class="btn btn-primary btn-block" href="#" id="buy-button-wa"><i class="fa fa-fw fa-whatsapp mr-1 fa-lg"></i>Beli Sekarang (via Whatsapp)</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /.container -->
<script src="assets/cart-page.js"></script>