<footer>
  <div class="bg-info py-3" >
    <div class="container">
      <div class="row">
        <div class="text-center text-lg-left mb-2 mb-lg-0 col-12 col-lg-4 py-lg-2">
          <span class="text-dark content-5">KAMI MENERIMA PEMBAYARAN VIA</span>
        </div>
        <div class="col-3 col-lg-2 bank-logo"> <img class="img-fluid" src="assets/img/bank/bca.png"> </div>
        <div class="col-3 col-lg-2 bank-logo"> <img class="img-fluid" src="assets/img/bank/mandiri.png"> </div>
        <div class="col-3 col-lg-2 bank-logo"> <img class="img-fluid" src="assets/img/bank/jenius.png"> </div>
        <div class="col-3 col-lg-2 bank-logo"> <img class="img-fluid" src="assets/img/bank/ovo.png"> </div>
      </div>
    </div>
  </div>
   <div class="py-3 bg-dark" >
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center d-md-flex justify-content-between align-items-center">
          <ul class="nav d-flex justify-content-center">
            <li class="nav-item"> <a class="nav-link active" href="index.html">Beranda</a> </li>
            <li class="nav-item"> <a class="nav-link" href="privacy-policy.html">Kebijakan Privasi</a> </li>
            <li class="nav-item"> <a class="nav-link" href="shipping-policy.html">Kebijakan Pengiriman</a> </li>
            <li class="nav-item"> <a class="nav-link" href="return-policy.html">Kebijakan Pengembalian</a> </li>
          </ul> <a class="btn btn-lg btn-outline-light" href="https://wa.me/{{site.phone}}?text=Halo, ini dengan {{site.title}}? Saya ingin bertanya sesuatu"><i class="fa fa-whatsapp"></i> Hubungi Kami</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0">© 2018-2019 Bebel Store. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>  